.intro__text {
    width: 685px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 163%;
    color: #fff;
}

@media (max-width: 720px) {
    .intro__text {
        max-width: calc(100% - 48px);
    }
}

@media (max-width: 320px) {
    .intro__text {
        max-width: calc(100% - 32px);
    }
}