.header__logo {
    transition: .4s;
}

.header__logo svg{
    width: 100%;
    cursor: pointer;
}

.header__logo:hover {
    opacity: 0.5;
}

@media (max-width: 320px) {
  .header__logo svg{
    width: 80%;
  }
}