.header {
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    margin-left: 48px;
    margin-right: 48px;
    align-items: center;
}

@media (max-width: 1024px) {
    .header {
        max-width: 928px;
    }
}

@media (max-width: 768px) {
    .header {
        margin: 28px 24px auto 24px;
        max-width: 720px;
    }
}

@media (max-width: 320px) {
    .header {
        margin: 16px auto 48px auto;
        max-width: 288px;
    }
}