.place {
    display: grid;
    grid-template-columns: minmax(440px, 460px) minmax(456px, 475px);
    grid-gap: 48px 40px;
    margin-bottom: 80px;
}

@media screen and (max-width: 1024px) {
    .place {
        gap: 48px 32px;
        grid-template-columns: minmax(340px, 440px) minmax(342px, 456px);
    }
}

@media (max-width: 768px) {
    .place {
        gap: 48px 28px;
        grid-template-columns: minmax(240px, 340px) minmax(252px, 352px);
    }
}

@media (max-width: 320px) {
    .place {
        grid-template-columns: 1fr;
        gap: 32px 0;
        margin: 0 0 50px 0;
    }
}