.cover__subtitle {
    margin: 0 auto;
    max-width: 360px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    padding: 0;
    z-index: 2;
    color: #fff;
}

@media (max-width: 768px) {
    .cover__subtitle {
        max-width: 47.6%;
        font-size: 2.34375vw;
        line-height: 2.083vw;
    }
}

@media (max-width: 320px) {
    .cover__subtitle {
        max-width: calc(100% - 32px);
        font-size: 4.375vw;
        line-height: 16px;
    }
}