.header__lang-link {
    color: #fff;
    text-decoration: none;
    font-size: 24px;

    transition: .4s;
}

@media (max-width: 320px) {
    .header__lang-link {
        font-size: 5.625vw;
        line-height: 8.75px;
    }
}

.header__lang-link_active {
    text-decoration: underline;
}

.header__lang-link:hover {
    color: #a2a2a2;
}