.lead__title {
    margin: auto;
    max-width: 720px;
    font-size: 96px;
    font-weight: 800;
    line-height: 100px;
    text-align: center;
    color: #fff;
}

@media (max-width: 768px) {
    .lead__title {
	    font-size: 12.5vw;
	    line-height: 13.02vw;
	}
}